In [1]:
import numpy as np
import pandas as pd
import chardet

## Q 1

In [2]:
CSV_FILE_PATH = './HW1data.csv'
with open(CSV_FILE_PATH,'rb') as data:
    result = chardet.detect(data.read(100000))
data_encoding=result['encoding']

In [3]:
df = pd.read_csv(CSV_FILE_PATH,encoding=data_encoding)
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,4.838649e+14,5751504.0,F,2016-05-31T10:14:47Z,2016-06-08T00:00:00Z,21.0,ILHA DE SANTA MARIA,0.0,0.0,0.0,0.0,0.0,1.0,No
1,4.858271e+13,5736107.0,F,2016-05-25T07:55:55Z,2016-05-25T00:00:00Z,36.0,ANDORINHAS,1.0,0.0,0.0,0.0,0.0,0.0,No
2,7.156662e+12,5708125.0,F,2016-05-17T10:39:38Z,2016-06-06T00:00:00Z,41.0,ITARARÉ,0.0,0.0,0.0,0.0,0.0,0.0,No
3,8.816117e+14,6313735.0,NaN,2017-03-30T05:52:45Z,2017-02-08T00:00:00Z,27.0,TABUAZEIRO,0.0,1.0,0.0,0.0,0.0,0.0,No
4,1.158164e+14,6261424.0,F,2016-12-16T23:34:44Z,2016-11-16T00:00:00Z,NaN,PRAIA DO SUÁ,0.0,0.0,0.0,1.0,0.0,0.0,No

## Q 2
### a

In [4]:
missing_values_count = df.isnull().sum()
row_num = df.shape[0]
missing_values_percentage = np.round(missing_values_count[df.columns]/row_num*100,2)
print("Percentage of missing data columns: ")
print(missing_values_percentage)

total_cells = np.product(df.shape)
total_missing = missing_values_count.sum()
print("Percentage of total missing data: ", np.round(total_missing/total_cells*100,2), "%")

Percentage of missing data columns:
PatientId         9.50
AppointmentID     9.53
Gender            9.59
ScheduledDay      9.59
AppointmentDay    9.57
Age               9.54
Neighbourhood     9.53
Scholarship       9.60
Hipertension      9.56
Diabetes          9.54
Alcoholism        9.57
Handcap           9.55
SMS_received      9.57
No-show           9.55
dtype: float64
Percentage of total missing data:  9.56 %

In [5]:
info_data=None #Refer to the table for basic information
patient_key = 'PatientId'
info_subset = ['Gender','Age','Neighbourhood']

for column in info_subset:
    df_temp=df.groupby([patient_key,column]).size()
    df_temp=df_temp.reset_index(name='times')   #Count the number of occurrences of key and column combinations
    df_temp['times_max']=df_temp.groupby(['PatientId']).times.transform(max)    #Gets the value that occurs the most times
    df_temp=df_temp[df_temp.times==df_temp.times_max].drop_duplicates(['PatientId'])    #Gets the row corresponding to the most occurrences
    df_temp.drop(['times','times_max'],axis=1,inplace=True)
    if info_data is None:
        info_data = df_temp
    else:
        info_data = pd.merge(info_data,df_temp,on=patient_key,how='outer')
info_data.columns=info_data.columns+'_info' #Different from the original field
info_data

       PatientId_info Gender_info  Age_info Neighbourhood_info
0        3.921784e+04           F      44.0       PRAIA DO SUÁ
1        4.374176e+04           M      39.0        MARIA ORTIZ
2        9.377953e+04           F      33.0             CENTRO
3        1.417242e+05           M      12.0     FORTE SÃO JOÃO
4        5.376153e+05           F      14.0     FORTE SÃO JOÃO
...               ...         ...       ...                ...
62294    9.999320e+14           M      90.0             JABOUR
62295    9.999350e+14           M       5.0  JESUS DE NAZARETH
62296    9.999465e+14           M      65.0          SÃO PEDRO
62297    9.999686e+14           F      81.0     JARDIM CAMBURI
62298    9.999816e+14           F       1.0      SANTO ANTÔNIO

[62299 rows x 4 columns]

### b

In [6]:
notNull_subset=['PatientId', 'ScheduledDay', 'AppointmentDay', 'SMS_received', 'No-show']
notNull_df = df[df[notNull_subset].notnull().T.all()]
notNull_df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,4.838649e+14,5751504.0,F,2016-05-31T10:14:47Z,2016-06-08T00:00:00Z,21.0,ILHA DE SANTA MARIA,0.0,0.0,0.0,0.0,0.0,1.0,No
1,4.858271e+13,5736107.0,F,2016-05-25T07:55:55Z,2016-05-25T00:00:00Z,36.0,ANDORINHAS,1.0,0.0,0.0,0.0,0.0,0.0,No
2,7.156662e+12,5708125.0,F,2016-05-17T10:39:38Z,2016-06-06T00:00:00Z,41.0,ITARARÉ,0.0,0.0,0.0,0.0,0.0,0.0,No
3,8.816117e+14,6313735.0,NaN,2017-03-30T05:52:45Z,2017-02-08T00:00:00Z,27.0,TABUAZEIRO,0.0,1.0,0.0,0.0,0.0,0.0,No
4,1.158164e+14,6261424.0,F,2016-12-16T23:34:44Z,2016-11-16T00:00:00Z,NaN,PRAIA DO SUÁ,0.0,0.0,0.0,1.0,0.0,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667528,2.598424e+12,NaN,F,2017-05-21T19:31:02Z,2017-03-19T00:00:00Z,24.0,SANTA MARTHA,0.0,0.0,1.0,0.0,2.0,1.0,No
667529,6.561862e+13,5971327.0,F,2017-05-01T03:18:21Z,2017-03-26T00:00:00Z,78.0,NOVA PALESTINA,NaN,0.0,NaN,NaN,0.0,0.0,No
667533,7.776344e+13,7619629.0,F,2017-06-03T15:12:19Z,2017-03-15T00:00:00Z,32.0,ILHA DE SANTA MARIA,0.0,NaN,0.0,0.0,0.0,1.0,No
667534,3.786827e+12,6529855.0,F,2017-05-18T19:22:08Z,2017-05-06T00:00:00Z,65.0,NaN,0.0,0.0,1.0,0.0,3.0,1.0,No
667535,1.775738e+13,5762051.0,F,2016-06-02T07:20:01Z,2016-06-02T00:00:00Z,5.0,SANTA MARTHA,0.0,0.0,0.0,0.0,0.0,0.0,No

### c

In [7]:
fillNull_df = pd.merge(notNull_df,info_data,left_on=patient_key,right_on=patient_key+'_info',how='left')
for column in info_subset:
    fillNull_df[column].fillna(fillNull_df[column+'_info'],inplace=True)
    fillNull_df.drop([column+'_info'],axis=1,inplace=True)
fillNull_df.drop([patient_key+'_info'],axis=1,inplace=True)
fillNull_df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,4.838649e+14,5751504.0,F,2016-05-31T10:14:47Z,2016-06-08T00:00:00Z,21.0,ILHA DE SANTA MARIA,0.0,0.0,0.0,0.0,0.0,1.0,No
1,4.858271e+13,5736107.0,F,2016-05-25T07:55:55Z,2016-05-25T00:00:00Z,36.0,ANDORINHAS,1.0,0.0,0.0,0.0,0.0,0.0,No
2,7.156662e+12,5708125.0,F,2016-05-17T10:39:38Z,2016-06-06T00:00:00Z,41.0,ITARARÉ,0.0,0.0,0.0,0.0,0.0,0.0,No
3,8.816117e+14,6313735.0,F,2017-03-30T05:52:45Z,2017-02-08T00:00:00Z,27.0,TABUAZEIRO,0.0,1.0,0.0,0.0,0.0,0.0,No
4,1.158164e+14,6261424.0,F,2016-12-16T23:34:44Z,2016-11-16T00:00:00Z,64.0,PRAIA DO SUÁ,0.0,0.0,0.0,1.0,0.0,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413649,2.598424e+12,NaN,F,2017-05-21T19:31:02Z,2017-03-19T00:00:00Z,24.0,SANTA MARTHA,0.0,0.0,1.0,0.0,2.0,1.0,No
413650,6.561862e+13,5971327.0,F,2017-05-01T03:18:21Z,2017-03-26T00:00:00Z,78.0,NOVA PALESTINA,NaN,0.0,NaN,NaN,0.0,0.0,No
413651,7.776344e+13,7619629.0,F,2017-06-03T15:12:19Z,2017-03-15T00:00:00Z,32.0,ILHA DE SANTA MARIA,0.0,NaN,0.0,0.0,0.0,1.0,No
413652,3.786827e+12,6529855.0,F,2017-05-18T19:22:08Z,2017-05-06T00:00:00Z,65.0,BONFIM,0.0,0.0,1.0,0.0,3.0,1.0,No
413653,1.775738e+13,5762051.0,F,2016-06-02T07:20:01Z,2016-06-02T00:00:00Z,5.0,SANTA MARTHA,0.0,0.0,0.0,0.0,0.0,0.0,No

## Q 3

In [8]:
notNull_subset=['PatientId', 'Gender', 'Age', 'Neighbourhood', 'ScheduledDay', 'AppointmentDay', 'SMS_received', 'No-show']
fillNull_df = fillNull_df[fillNull_df[notNull_subset].notnull().T.all()]
fillNull_df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,4.838649e+14,5751504.0,F,2016-05-31T10:14:47Z,2016-06-08T00:00:00Z,21.0,ILHA DE SANTA MARIA,0.0,0.0,0.0,0.0,0.0,1.0,No
1,4.858271e+13,5736107.0,F,2016-05-25T07:55:55Z,2016-05-25T00:00:00Z,36.0,ANDORINHAS,1.0,0.0,0.0,0.0,0.0,0.0,No
2,7.156662e+12,5708125.0,F,2016-05-17T10:39:38Z,2016-06-06T00:00:00Z,41.0,ITARARÉ,0.0,0.0,0.0,0.0,0.0,0.0,No
3,8.816117e+14,6313735.0,F,2017-03-30T05:52:45Z,2017-02-08T00:00:00Z,27.0,TABUAZEIRO,0.0,1.0,0.0,0.0,0.0,0.0,No
4,1.158164e+14,6261424.0,F,2016-12-16T23:34:44Z,2016-11-16T00:00:00Z,64.0,PRAIA DO SUÁ,0.0,0.0,0.0,1.0,0.0,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413649,2.598424e+12,NaN,F,2017-05-21T19:31:02Z,2017-03-19T00:00:00Z,24.0,SANTA MARTHA,0.0,0.0,1.0,0.0,2.0,1.0,No
413650,6.561862e+13,5971327.0,F,2017-05-01T03:18:21Z,2017-03-26T00:00:00Z,78.0,NOVA PALESTINA,NaN,0.0,NaN,NaN,0.0,0.0,No
413651,7.776344e+13,7619629.0,F,2017-06-03T15:12:19Z,2017-03-15T00:00:00Z,32.0,ILHA DE SANTA MARIA,0.0,NaN,0.0,0.0,0.0,1.0,No
413652,3.786827e+12,6529855.0,F,2017-05-18T19:22:08Z,2017-05-06T00:00:00Z,65.0,BONFIM,0.0,0.0,1.0,0.0,3.0,1.0,No
413653,1.775738e+13,5762051.0,F,2016-06-02T07:20:01Z,2016-06-02T00:00:00Z,5.0,SANTA MARTHA,0.0,0.0,0.0,0.0,0.0,0.0,No

## Q 4

In [9]:
setZero_subset=['Scholarship', 'Hipertension', 'Diabetes', 'Alcoholism', 'Handcap']
for column in setZero_subset:
    fillNull_df[column].fillna(0,inplace=True)

fillNull_df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,4.838649e+14,5751504.0,F,2016-05-31T10:14:47Z,2016-06-08T00:00:00Z,21.0,ILHA DE SANTA MARIA,0.0,0.0,0.0,0.0,0.0,1.0,No
1,4.858271e+13,5736107.0,F,2016-05-25T07:55:55Z,2016-05-25T00:00:00Z,36.0,ANDORINHAS,1.0,0.0,0.0,0.0,0.0,0.0,No
2,7.156662e+12,5708125.0,F,2016-05-17T10:39:38Z,2016-06-06T00:00:00Z,41.0,ITARARÉ,0.0,0.0,0.0,0.0,0.0,0.0,No
3,8.816117e+14,6313735.0,F,2017-03-30T05:52:45Z,2017-02-08T00:00:00Z,27.0,TABUAZEIRO,0.0,1.0,0.0,0.0,0.0,0.0,No
4,1.158164e+14,6261424.0,F,2016-12-16T23:34:44Z,2016-11-16T00:00:00Z,64.0,PRAIA DO SUÁ,0.0,0.0,0.0,1.0,0.0,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413649,2.598424e+12,NaN,F,2017-05-21T19:31:02Z,2017-03-19T00:00:00Z,24.0,SANTA MARTHA,0.0,0.0,1.0,0.0,2.0,1.0,No
413650,6.561862e+13,5971327.0,F,2017-05-01T03:18:21Z,2017-03-26T00:00:00Z,78.0,NOVA PALESTINA,0.0,0.0,0.0,0.0,0.0,0.0,No
413651,7.776344e+13,7619629.0,F,2017-06-03T15:12:19Z,2017-03-15T00:00:00Z,32.0,ILHA DE SANTA MARIA,0.0,0.0,0.0,0.0,0.0,1.0,No
413652,3.786827e+12,6529855.0,F,2017-05-18T19:22:08Z,2017-05-06T00:00:00Z,65.0,BONFIM,0.0,0.0,1.0,0.0,3.0,1.0,No
413653,1.775738e+13,5762051.0,F,2016-06-02T07:20:01Z,2016-06-02T00:00:00Z,5.0,SANTA MARTHA,0.0,0.0,0.0,0.0,0.0,0.0,No

## Q 5

In [10]:
useless_subset=['PatientId', 'AppointmentID']
for column in useless_subset:
    fillNull_df.drop([column],axis=1,inplace=True)
fillNull_df

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,F,2016-05-31T10:14:47Z,2016-06-08T00:00:00Z,21.0,ILHA DE SANTA MARIA,0.0,0.0,0.0,0.0,0.0,1.0,No
1,F,2016-05-25T07:55:55Z,2016-05-25T00:00:00Z,36.0,ANDORINHAS,1.0,0.0,0.0,0.0,0.0,0.0,No
2,F,2016-05-17T10:39:38Z,2016-06-06T00:00:00Z,41.0,ITARARÉ,0.0,0.0,0.0,0.0,0.0,0.0,No
3,F,2017-03-30T05:52:45Z,2017-02-08T00:00:00Z,27.0,TABUAZEIRO,0.0,1.0,0.0,0.0,0.0,0.0,No
4,F,2016-12-16T23:34:44Z,2016-11-16T00:00:00Z,64.0,PRAIA DO SUÁ,0.0,0.0,0.0,1.0,0.0,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...
413649,F,2017-05-21T19:31:02Z,2017-03-19T00:00:00Z,24.0,SANTA MARTHA,0.0,0.0,1.0,0.0,2.0,1.0,No
413650,F,2017-05-01T03:18:21Z,2017-03-26T00:00:00Z,78.0,NOVA PALESTINA,0.0,0.0,0.0,0.0,0.0,0.0,No
413651,F,2017-06-03T15:12:19Z,2017-03-15T00:00:00Z,32.0,ILHA DE SANTA MARIA,0.0,0.0,0.0,0.0,0.0,1.0,No
413652,F,2017-05-18T19:22:08Z,2017-05-06T00:00:00Z,65.0,BONFIM,0.0,0.0,1.0,0.0,3.0,1.0,No
413653,F,2016-06-02T07:20:01Z,2016-06-02T00:00:00Z,5.0,SANTA MARTHA,0.0,0.0,0.0,0.0,0.0,0.0,No

## Q 6

In [11]:
fillNull_df=fillNull_df[fillNull_df.Age>=0]
fillNull_df

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,F,2016-05-31T10:14:47Z,2016-06-08T00:00:00Z,21.0,ILHA DE SANTA MARIA,0.0,0.0,0.0,0.0,0.0,1.0,No
1,F,2016-05-25T07:55:55Z,2016-05-25T00:00:00Z,36.0,ANDORINHAS,1.0,0.0,0.0,0.0,0.0,0.0,No
2,F,2016-05-17T10:39:38Z,2016-06-06T00:00:00Z,41.0,ITARARÉ,0.0,0.0,0.0,0.0,0.0,0.0,No
3,F,2017-03-30T05:52:45Z,2017-02-08T00:00:00Z,27.0,TABUAZEIRO,0.0,1.0,0.0,0.0,0.0,0.0,No
4,F,2016-12-16T23:34:44Z,2016-11-16T00:00:00Z,64.0,PRAIA DO SUÁ,0.0,0.0,0.0,1.0,0.0,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...
413649,F,2017-05-21T19:31:02Z,2017-03-19T00:00:00Z,24.0,SANTA MARTHA,0.0,0.0,1.0,0.0,2.0,1.0,No
413650,F,2017-05-01T03:18:21Z,2017-03-26T00:00:00Z,78.0,NOVA PALESTINA,0.0,0.0,0.0,0.0,0.0,0.0,No
413651,F,2017-06-03T15:12:19Z,2017-03-15T00:00:00Z,32.0,ILHA DE SANTA MARIA,0.0,0.0,0.0,0.0,0.0,1.0,No
413652,F,2017-05-18T19:22:08Z,2017-05-06T00:00:00Z,65.0,BONFIM,0.0,0.0,1.0,0.0,3.0,1.0,No
413653,F,2016-06-02T07:20:01Z,2016-06-02T00:00:00Z,5.0,SANTA MARTHA,0.0,0.0,0.0,0.0,0.0,0.0,No

## Q 7

In [12]:
fillNull_df['AppointmentDay_prase'] = pd.to_datetime(fillNull_df['AppointmentDay'], infer_datetime_format = True, utc = True).dt.floor('D')
fillNull_df['ScheduledDay_prase'] = pd.to_datetime(fillNull_df['ScheduledDay'], infer_datetime_format = True, utc = True).dt.floor('D')
fillNull_df['Delta_Day']=(fillNull_df.AppointmentDay_prase-fillNull_df.ScheduledDay_prase).dt.days
fillNull_df=fillNull_df[fillNull_df['Delta_Day']>=0]

fillNull_df

<ipython-input-12-0db626e263f2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fillNull_df['AppointmentDay_prase'] = pd.to_datetime(fillNull_df['AppointmentDay'], infer_datetime_format = True, utc = True).dt.floor('D')
<ipython-input-12-0db626e263f2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fillNull_df['ScheduledDay_prase'] = pd.to_datetime(fillNull_df['ScheduledDay'], infer_datetime_format = True, utc = True).dt.floor('D')
<ipython-input-12-0db626e263f2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fillNull_df['Delta_Day']=(fillNull_df.AppointmentDay_prase-fillNull_df.ScheduledDay_prase).dt.days

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,AppointmentDay_prase,ScheduledDay_prase,Delta_Day
0,F,2016-05-31T10:14:47Z,2016-06-08T00:00:00Z,21.0,ILHA DE SANTA MARIA,0.0,0.0,0.0,0.0,0.0,1.0,No,2016-06-08 00:00:00+00:00,2016-05-31 00:00:00+00:00,8
1,F,2016-05-25T07:55:55Z,2016-05-25T00:00:00Z,36.0,ANDORINHAS,1.0,0.0,0.0,0.0,0.0,0.0,No,2016-05-25 00:00:00+00:00,2016-05-25 00:00:00+00:00,0
2,F,2016-05-17T10:39:38Z,2016-06-06T00:00:00Z,41.0,ITARARÉ,0.0,0.0,0.0,0.0,0.0,0.0,No,2016-06-06 00:00:00+00:00,2016-05-17 00:00:00+00:00,20
8,M,2016-05-09T11:12:43Z,2016-06-06T00:00:00Z,82.0,JARDIM DA PENHA,0.0,0.0,0.0,0.0,0.0,1.0,No,2016-06-06 00:00:00+00:00,2016-05-09 00:00:00+00:00,28
9,F,2016-04-15T08:41:57Z,2016-04-29T00:00:00Z,61.0,BENTO FERREIRA,0.0,0.0,0.0,0.0,0.0,1.0,No,2016-04-29 00:00:00+00:00,2016-04-15 00:00:00+00:00,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413637,M,2016-03-08T10:22:28Z,2016-05-13T00:00:00Z,84.0,CENTRO,0.0,0.0,0.0,0.0,0.0,0.0,Yes,2016-05-13 00:00:00+00:00,2016-03-08 00:00:00+00:00,66
413639,M,2016-05-13T08:45:35Z,2016-05-17T00:00:00Z,68.0,GRANDE VITÓRIA,0.0,0.0,0.0,0.0,0.0,0.0,No,2016-05-17 00:00:00+00:00,2016-05-13 00:00:00+00:00,4
413643,F,2016-05-09T17:06:55Z,2016-05-30T00:00:00Z,7.0,MARIA ORTIZ,1.0,0.0,0.0,0.0,0.0,1.0,No,2016-05-30 00:00:00+00:00,2016-05-09 00:00:00+00:00,21
413647,M,2016-05-20T07:56:57Z,2016-05-25T00:00:00Z,19.0,SÃO CRISTÓVÃO,1.0,0.0,0.0,0.0,0.0,0.0,No,2016-05-25 00:00:00+00:00,2016-05-20 00:00:00+00:00,5
413653,F,2016-06-02T07:20:01Z,2016-06-02T00:00:00Z,5.0,SANTA MARTHA,0.0,0.0,0.0,0.0,0.0,0.0,No,2016-06-02 00:00:00+00:00,2016-06-02 00:00:00+00:00,0

## Q 8

In [13]:
fillNull_df['SDay_DOW']=fillNull_df['ScheduledDay_prase'].dt.dayofweek
fillNull_df['ADay_DOW']=fillNull_df['AppointmentDay_prase'].dt.dayofweek
fillNull_df

<ipython-input-13-8a4f268a2338>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fillNull_df['SDay_DOW']=fillNull_df['ScheduledDay_prase'].dt.dayofweek
<ipython-input-13-8a4f268a2338>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fillNull_df['ADay_DOW']=fillNull_df['AppointmentDay_prase'].dt.dayofweek

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,AppointmentDay_prase,ScheduledDay_prase,Delta_Day,SDay_DOW,ADay_DOW
0,F,2016-05-31T10:14:47Z,2016-06-08T00:00:00Z,21.0,ILHA DE SANTA MARIA,0.0,0.0,0.0,0.0,0.0,1.0,No,2016-06-08 00:00:00+00:00,2016-05-31 00:00:00+00:00,8,1,2
1,F,2016-05-25T07:55:55Z,2016-05-25T00:00:00Z,36.0,ANDORINHAS,1.0,0.0,0.0,0.0,0.0,0.0,No,2016-05-25 00:00:00+00:00,2016-05-25 00:00:00+00:00,0,2,2
2,F,2016-05-17T10:39:38Z,2016-06-06T00:00:00Z,41.0,ITARARÉ,0.0,0.0,0.0,0.0,0.0,0.0,No,2016-06-06 00:00:00+00:00,2016-05-17 00:00:00+00:00,20,1,0
8,M,2016-05-09T11:12:43Z,2016-06-06T00:00:00Z,82.0,JARDIM DA PENHA,0.0,0.0,0.0,0.0,0.0,1.0,No,2016-06-06 00:00:00+00:00,2016-05-09 00:00:00+00:00,28,0,0
9,F,2016-04-15T08:41:57Z,2016-04-29T00:00:00Z,61.0,BENTO FERREIRA,0.0,0.0,0.0,0.0,0.0,1.0,No,2016-04-29 00:00:00+00:00,2016-04-15 00:00:00+00:00,14,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413637,M,2016-03-08T10:22:28Z,2016-05-13T00:00:00Z,84.0,CENTRO,0.0,0.0,0.0,0.0,0.0,0.0,Yes,2016-05-13 00:00:00+00:00,2016-03-08 00:00:00+00:00,66,1,4
413639,M,2016-05-13T08:45:35Z,2016-05-17T00:00:00Z,68.0,GRANDE VITÓRIA,0.0,0.0,0.0,0.0,0.0,0.0,No,2016-05-17 00:00:00+00:00,2016-05-13 00:00:00+00:00,4,4,1
413643,F,2016-05-09T17:06:55Z,2016-05-30T00:00:00Z,7.0,MARIA ORTIZ,1.0,0.0,0.0,0.0,0.0,1.0,No,2016-05-30 00:00:00+00:00,2016-05-09 00:00:00+00:00,21,0,0
413647,M,2016-05-20T07:56:57Z,2016-05-25T00:00:00Z,19.0,SÃO CRISTÓVÃO,1.0,0.0,0.0,0.0,0.0,0.0,No,2016-05-25 00:00:00+00:00,2016-05-20 00:00:00+00:00,5,4,2
413653,F,2016-06-02T07:20:01Z,2016-06-02T00:00:00Z,5.0,SANTA MARTHA,0.0,0.0,0.0,0.0,0.0,0.0,No,2016-06-02 00:00:00+00:00,2016-06-02 00:00:00+00:00,0,3,3

## Q 9

In [14]:
fillNull_df.drop(['AppointmentDay','AppointmentDay_prase','ScheduledDay','ScheduledDay_prase'],axis=1,inplace=True)
fillNull_df

C:\Users\albert\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Gender,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,Delta_Day,SDay_DOW,ADay_DOW
0,F,21.0,ILHA DE SANTA MARIA,0.0,0.0,0.0,0.0,0.0,1.0,No,8,1,2
1,F,36.0,ANDORINHAS,1.0,0.0,0.0,0.0,0.0,0.0,No,0,2,2
2,F,41.0,ITARARÉ,0.0,0.0,0.0,0.0,0.0,0.0,No,20,1,0
8,M,82.0,JARDIM DA PENHA,0.0,0.0,0.0,0.0,0.0,1.0,No,28,0,0
9,F,61.0,BENTO FERREIRA,0.0,0.0,0.0,0.0,0.0,1.0,No,14,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413637,M,84.0,CENTRO,0.0,0.0,0.0,0.0,0.0,0.0,Yes,66,1,4
413639,M,68.0,GRANDE VITÓRIA,0.0,0.0,0.0,0.0,0.0,0.0,No,4,4,1
413643,F,7.0,MARIA ORTIZ,1.0,0.0,0.0,0.0,0.0,1.0,No,21,0,0
413647,M,19.0,SÃO CRISTÓVÃO,1.0,0.0,0.0,0.0,0.0,0.0,No,5,4,2
413653,F,5.0,SANTA MARTHA,0.0,0.0,0.0,0.0,0.0,0.0,No,0,3,3